@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html,body{
    margin:0;
    --dark-gray:#4E5150;
    --light-gray:#A9A9A9;
    font-family: 'Montserrat', sans-serif;
}

.profile{
    margin:1rem;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    text-align:center;
    
}

.profile-img{
    border-radius:16px;
    width:7rem;
    height:7rem;
}

.name{
    color:var(--dark-gray);
    margin-block-end:0.4em;
}

.location{
    color:var(--light-gray);
}

li{
    list-style:none;
    display: inline-block;
    margin-right:2rem;
    background: #E5E5E5;
    width:5.5rem;
    height: 3.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:0.75rem;
}

li:nth-child(3){
    margin-right:0rem;

}
ul{
    padding-inline-start: 0;
    display: flex;
    justify-content: center;
    
}

.gallery{
    
    justify-items:center;
    align-items:center;
    display:grid;
    grid-template-columns: repeat(6, 11vw);
    grid-template-rows: repeat(7, 12vw);
    grid-gap:15px;
    margin-top:1rem;
    margin-bottom:2rem;

   
    
   
    
}
@media only screen and (min-width: 1000px) {
    .gallery{
        
    grid-template-columns: repeat(6, 6vw);
    grid-template-rows: repeat(7, 4vw);
    }
}

.gallery img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.first-span{
    color:#4E5150;
    font-weight:600;
    font-size: 1rem;
}

.second-span{
    color:#bdbdbd;
}

.one {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
   .three {
      grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .two {
     grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
  }
  .four {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start:3;
    grid-row-end: 8;
  }
  .five {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 8;
  }
  .six {
     grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start:6;
    grid-row-end: 8;
  }  

  footer{
      color:#A9A9A9;
  }

  

  